<h1>Something went wrong :(</h1>

<p>Likely your authentication code has already been used. Don't worry, theres a fix!</p>

<p>Go to the <%= link_to 'Installation Page', '/install' %> and try connecting again. Sorry about that!</p>
