@import "bootstrap";

.request:not(:first-child) {
  page-break-before: always;
}

th {
  background-color: black;
  color: white;
}

.table__description {
  width: 50%;
}

.table__date {
  width: 10%;
}

.table__filename {
  width: 30%;
}

.table__amount {
  width: 10%;
}


.table__sub-header {
  background-color: gray;
  color: white;
}
