@import "bootstrap";

th {
  background-color: black;
  color: white;
}

.table__description {
  width: 50%;
}

.table__filename {
  width: 40%;
}

.table__amount {
  width: 10%;
}


.table__sub-header {
  background-color: gray;
  color: white;
}
