$image-dimensions: 250px;
$margin-left: 40px;

.request-item {
  display: flex;

  & > * {
    margin: 20px 0;

    &:last-child{
      margin-left: $margin-left;
    }
  }
}

.request-item__image {
  width: $image-dimensions;
  height: $image-dimensions;
  background-color: #ccc;
}

.request-item__inputs {
  width: calc(100% - #{$image-dimensions});
  padding: 0;
}

.request-item__input {
  @extend .form-control;
}

.request-item__input-group {
  @extend .form-group;
  list-style-type: none;
}

