$image-dimensions: 250px;
$margin-left: 40px;

.request-item {
  display: flex;

  & > * {
    margin: 20px 0;

    &:last-child{
      margin-left: $margin-left;
    }
  }
}

.request-item__image-container {
  width: $image-dimensions;
  height: $image-dimensions;
}

.request-item__inputs-container {
  width: calc(100% - #{$image-dimensions} - #{$margin-left});
  padding: 0;
}

.request-item__delete {
  text-align: right;
}

.delete-icon {
  font-size: 20px;
  cursor: pointer;
}

.request-item__input {
  @extend .form-control;
}

.request-item__input-group {
  @extend .form-group;
  list-style-type: none;
}

