p Hi there!

p Please see reimbursements filed below.

p All originals of the receipts are located here as well which you can download and keep for your records.

p
  a href= @pdf_url Reimbursements (pdf)

p
  a href= @zip_url Original Image Receipts (zip)

p As always, if you have any issues you can reply to this email and someone will be in touch within 24 hours.

p Cheers,<br>Expensely
