p Hi there!

p Please see reimbursements ZIP below.

p
  a href= @zip_url Reimbursements (zip)

p As always, if you have any issues you can reply to this email and someone will be in touch within 24 hours.

p Cheers,<br>Expensely
